
*{
    margin:0;
    padding:0;

}

h1 , h2 , h3 , h4 , h5 , h6{
    font-family:'Harmattan', sans-serif ;
}
body {
	background: linear-gradient(-45deg, #9f78d1, #5eff00, #00a2ff, #ff0000);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.landing-page h1{

    display: flex;
	justify-content: center;
	padding-top: 20%;


    color: aliceblue;
    font-size: 400%;

}

